//custom variables
$primary: #c29938;
$light: #f3e1ae;

//import functions and variables files;
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
  "altlight": #d3c2e8,
  "altdark": #522192,
);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
